In [1]:
import dask.dataframe as dd

In [2]:
# path = 'https://storage.googleapis.com/bdaula3_atividade2/transactions3500000-4749999.csv'
# path = 'transactions3500000-4749999.csv'
# path = 'sample.csv'
# path = 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv'
path = 'yellow_tripdata_2019-01.csv'
df=dd.read_csv(path)

In [3]:
df

Dask DataFrame Structure:
               VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge
npartitions=11
                  int64               object                object           int64       float64      int64             object        int64        int64        int64     float64  float64  float64    float64      float64               float64      float64              float64
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
...                 ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
Dask Name: from-delayed, 33 tasks

In [5]:
df.columns = ['id','sender','receiver','value']

In [8]:
# from dask.distributed import progress
df = client.persist(df)
# progress(df)

In [8]:
%%time
df['value'].count().compute()

CPU times: user 8.42 ms, sys: 2.21 ms, total: 10.6 ms
Wall time: 93.1 ms

19999

In [4]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [5]:
df.total_amount.count().compute()

7667792

In [3]:
import pandas as pd
import numpy as np
# from tqdm import tqdm
from tqdm.auto import tqdm  # for notebooks

df = pd.DataFrame(np.random.randint(0, int(1e1), (10000, 1000)))

# Create and register a new `tqdm` instance with `pandas`
# (can use tqdm_gui, optional kwargs, etc.)
tqdm.pandas()

# Now you can use `progress_apply` instead of `apply`
df.groupby(0).progress_apply(lambda x: x**2)

HBox(children=(IntProgress(value=0, max=10), HTML(value='')))

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,81,36,81,9,1,1,64,16,4,36,...,81,64,64,9,4,16,36,4,64,0
1,81,36,49,25,9,49,16,16,36,1,...,16,0,36,16,1,16,1,25,0,49
2,1,25,64,4,81,9,4,36,25,36,...,9,16,25,25,16,1,16,81,36,16
3,36,36,49,9,25,25,9,4,64,4,...,36,25,9,1,36,64,25,36,1,0
4,81,36,49,36,0,36,25,1,0,0,...,4,1,0,49,81,1,36,4,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,64,64,0,25,0,25,9,0,49,36,...,25,64,4,36,1,81,49,16,25,16
9996,4,4,49,49,49,1,49,25,81,9,...,81,36,1,16,0,64,4,36,64,1
9997,64,1,1,0,0,9,49,81,4,4,...,9,4,25,1,64,16,25,49,36,25
9998,16,1,16,81,81,81,9,9,25,81,...,0,49,25,49,1,1,81,1,81,64
9999,0,9,4,9,64,0,81,36,64,49,...,9,81,16,4,0,64,25,81,36,49