In [10]:
from dask.distributed import Client

client = Client("tcp://127.0.0.1:58131")
client

In [11]:
import dask.dataframe as dd

# df = dd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv')
df = dd.read_csv('yellow_tripdata_2019-01.csv')
df

Dask DataFrame Structure:
               VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge
npartitions=11
                  int64               object                object           int64       float64      int64             object        int64        int64        int64     float64  float64  float64    float64      float64               float64      float64              float64
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
...                 ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...
Dask Name: from-delayed, 33 tasks

In [12]:
missing_values = df.isnull().sum()
missing_values

Dask Series Structure:
npartitions=1
DOLocationID     int64
trip_distance      ...
dtype: int64
Dask Name: dataframe-sum-agg, 56 tasks

In [13]:
# missing_values.visualize()

In [14]:
# missing_values.visualize(filename='test.png')
# from IPython.display import Image
# Image(filename='test.png', height=500)

In [15]:
missing_count = ((missing_values / df.index.size) * 100)
missing_count

Dask Series Structure:
npartitions=1
DOLocationID     float64
trip_distance        ...
dtype: float64
Dask Name: mul, 81 tasks

In [16]:
# missing_count.visualize(filename='test.png')
# Image(filename='test.png', height=500)

In [20]:
# from dask.diagnostics import ProgressBar 
# with ProgressBar():
#    missing_count_pct = missing_count.compute()
# missing_count_pct

missing_count_pct = missing_count.compute()

In [18]:
missing_count_pct

VendorID                  0.000000
tpep_pickup_datetime      0.000000
tpep_dropoff_datetime     0.000000
passenger_count           0.000000
trip_distance             0.000000
RatecodeID                0.000000
store_and_fwd_flag        0.000000
PULocationID              0.000000
DOLocationID              0.000000
payment_type              0.000000
fare_amount               0.000000
extra                     0.000000
mta_tax                   0.000000
tip_amount                0.000000
tolls_amount              0.000000
improvement_surcharge     0.000000
total_amount              0.000000
congestion_surcharge     63.329548
dtype: float64